@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
.card {
  animation: 0.5s ease-in-out fade-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
}

body, header, main, footer {
  background-color: #EAEAEA;
  display: flex;
  flex-direction: column;
  position: relative;
}

* {
  font-family: "Roboto", sans-serif;
}

.link__return {
  position: absolute;
  z-index: 999;
  text-decoration: none;
  top: 30%;
  right: 90%;
  font-size: 5vw;
}
.link__return i {
  color: black;
}

.button__command {
  display: flex;
  flex-direction: column;
  width: 186px;
  height: 50px;
  text-align: center;
  justify-content: center;
  margin: auto;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.button__command:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  border-radius: 25px;
}

.like {
  position: absolute;
  top: 50px;
  right: 20px;
}
.like .fa-solid {
  z-index: 999;
  display: none;
  opacity: 0;
  background: linear-gradient(193.33deg, #9256dc -11.44%, #ff79da 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.like:hover .fa-solid {
  display: block;
  opacity: 1;
}
.like:hover .far {
  display: none;
  opacity: 0;
}

.loader__container {
  z-index: 1000;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: grey;
  animation: fade-out 2s linear 1.5;
  opacity: 0%;
}

.loader {
  z-index: 1001;
  position: fixed;
  top: 50%;
  left: 50%;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-left: -76px;
  margin-left: -76px;
  animation: spin 2s linear 1.5;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fade-out {
  0% {
    opacity: 100%;
  }
  99% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
.header__title {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 4% 0%;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.header__title img {
  width: 40%;
}

.header__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  background: #EAEAEA;
}
.header__location input {
  border: 0;
  background: none;
  text-align: center;
  font-weight: 600;
  padding: 2% 0% 2% 0%;
}

.section__explorer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  background-color: #F6F6F6;
}
.section__explorer h1 {
  padding: 16px;
  width: 65%;
  text-align: center;
}
.section__explorer p {
  padding: 16px;
  width: 75%;
  text-align: center;
}
.section__explorer .btn {
  display: flex;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  padding: 13px;
  text-decoration: auto;
  color: #FFFFFF;
  margin: 31px 0 70px 0;
  justify-content: center;
  color: #FFFFFF;
}
.section__explorer .btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  border-radius: 50px;
}

.section__fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  background: #FFFFFF;
  padding: 8% 0 8% 0;
}
.section__fonctionnement h1 {
  position: relative;
  bottom: 15px;
  width: 90%;
  margin-top: 25px;
}
.section__fonctionnement .card__container {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.section__fonctionnement .card__container .card {
  display: flex;
  margin-top: 5%;
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  align-items: center;
  justify-content: start;
  padding: 5%;
  margin: 25px 0px 25px 0px;
  position: relative;
}
.section__fonctionnement .card__container .card .card__pastille {
  display: flex;
  position: absolute;
  background: #9356DC;
  border-radius: 50%;
  left: -10px;
  width: 24px;
  height: 24px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
}
.section__fonctionnement .card__container .card i {
  width: 15%;
  display: flex;
  justify-content: center;
  color: #7E7E7E;
}
.section__fonctionnement .card__container .card p {
  font-weight: 700;
  width: 75%;
  justify-content: center;
  text-align: center;
}

.section__restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  background-color: #F6F6F6;
  padding: 25px 0 25px 0;
}
.section__restaurants a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
}
.section__restaurants h1 {
  position: relative;
  bottom: 15px;
  width: 90%;
  margin-top: 25px;
  font-weight: 700;
  font-size: 24px;
}
.section__restaurants p {
  font-size: 17px;
}
.section__restaurants .card__container {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: space-between;
}
.section__restaurants .card__container .card {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}
.section__restaurants .card__container .card .card__image {
  object-fit: cover;
  width: 100%;
  height: 231px;
  border-radius: 15px 15px 0px 0px;
}
.section__restaurants .card__container .card .card__text {
  display: flex;
  flex-direction: column;
  padding: 2%;
  background-color: #FFFFFF;
  position: relative;
}
.section__restaurants .card__container .card .card__text h2 {
  padding-top: 5px;
}
.section__restaurants .card__container .card .card__new {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 18px;
  width: 80px;
  height: 29px;
  background: #99E2D0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #008766;
}
.section__restaurants .card__container .like {
  top: 0px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 22px 25px;
  gap: 16px;
  background: #353535;
  padding: 30px;
}
footer a {
  text-decoration: none;
  color: #FFFFFF;
}
footer h1 {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
footer .footer__links {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  gap: 10px;
}

@media screen and (min-width: 1440px) {
  .header__title {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 4% 0%;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  }
  .header__title img {
    width: 40%;
  }
  .header__location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background: #EAEAEA;
  }
  .header__location input {
    border: 0;
    background: none;
    text-align: center;
    font-weight: 600;
    padding: 2% 0% 2% 0%;
  }
  .section__explorer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    background-color: #F6F6F6;
  }
  .section__explorer h1 {
    padding: 16px;
    width: 65%;
    text-align: center;
  }
  .section__explorer p {
    padding: 16px;
    width: 75%;
    text-align: center;
  }
  .section__explorer .btn {
    display: flex;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    padding: 13px;
    text-decoration: auto;
    color: #FFFFFF;
    margin: 31px 0 70px 0;
    justify-content: center;
    color: #FFFFFF;
  }
  .section__explorer .btn:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    border-radius: 25px;
  }
  .section__explorer .btn button {
    background: none;
    text-decoration: none;
    border: 0;
    color: white;
    font-weight: 900;
    text-align: center;
  }
  .section__fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    background: #FFFFFF;
    padding: 8% 0 8% 0;
  }
  .section__fonctionnement h1 {
    position: relative;
    bottom: 15px;
    width: 90%;
    margin-top: 25px;
  }
  .section__fonctionnement .card__container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .section__fonctionnement .card__container .card {
    display: flex;
    margin: 25px;
    background: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    align-items: center;
    justify-content: start;
    padding: 30px;
    position: relative;
    width: 100%;
  }
  .section__fonctionnement .card__container .card .card__pastille {
    display: flex;
    position: absolute;
    background: #9356DC;
    border-radius: 50%;
    left: -10px;
    width: 24px;
    height: 24px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .section__fonctionnement .card__container .card .card__pastille p {
    font-weight: 500;
    font-size: 14.1818px;
    line-height: 17px;
    color: white;
  }
  .section__fonctionnement .card__container .card i {
    width: 15%;
    display: flex;
    justify-content: center;
    color: #7E7E7E;
  }
  .section__fonctionnement .card__container .card p {
    font-weight: 700;
    width: 75%;
    justify-content: center;
    text-align: center;
  }
  .section__fonctionnement .card__container .like {
    top: 0px;
  }
  .section__restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    background-color: #F6F6F6;
    padding: 8% 0 8% 0;
  }
  .section__restaurants a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    width: 90%;
  }
  .section__restaurants h1 {
    position: relative;
    bottom: 15px;
    width: 90%;
    margin-top: 25px;
    font-weight: 700;
    font-size: 24px;
  }
  .section__restaurants p {
    font-size: 17px;
  }
  .section__restaurants .card__container {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
  }
  .section__restaurants .card__container a {
    margin: 25px;
  }
  .section__restaurants .card__container .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
  }
  .section__restaurants .card__container .card .card__image {
    object-fit: cover;
    width: 100%;
    height: 231px;
    border-radius: 15px 15px 0px 0px;
  }
  .section__restaurants .card__container .card .card__text {
    display: flex;
    flex-direction: column;
    padding: 2%;
    background-color: #FFFFFF;
    position: relative;
  }
  .section__restaurants .card__container .card .card__text h2 {
    padding-top: 5px;
  }
  .section__restaurants .card__container .card .card__text i {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .section__restaurants .card__container .card .card__new {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 18px;
    width: 80px;
    height: 29px;
    background: #99E2D0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #008766;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    padding: 22px 25px;
    gap: 16px;
    background: #353535;
    padding: 30px;
  }
  footer a {
    text-decoration: none;
    color: #FFFFFF;
  }
  footer .footer__logo {
    font-family: "Shrikhand";
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
  footer .footer__links {
    display: flex;
    flex-direction: row;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    gap: 10px;
  }
}
img {
  margin-bottom: 0px;
}

.header__title {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  padding: 4% 0%;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.header__title img {
  width: 40%;
}

.section__menu {
  display: flex;
  flex-direction: column;
  padding: 0 25px 0 25px;
}
.section__menu .menu_title {
  position: relative;
}
.section__menu .categorie {
  margin-bottom: 60px;
}
.section__menu .card {
  display: flex;
  flex-direction: row;
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin: 10px 0;
}
.section__menu .card .card__text {
  width: 90%;
  margin: 10px;
}
.section__menu .card .card__text p {
  width: 100%;
  text-overflow: ellipsis;
  /* position: relative; */
  white-space: nowrap;
  overflow: hidden;
}
.section__menu .card .card__price {
  display: flex;
  width: 50px;
  flex-direction: column-reverse;
  /* justify-content: center; */
  /* align-items: center; */
  margin-bottom: 12px;
  font-weight: 600;
}
.section__menu .card .card__check {
  display: flex;
  width: 0%;
  max-width: 59px;
  background: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  transition: width 1s ease-in-out;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.section__menu .card .card__check i {
  display: flex;
  color: white;
}
.section__menu .card:hover .card__check {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.section__menu .card:hover .card__check i {
  display: flex;
  color: white;
}
.section__menu h1 {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
  margin: 5% 0 5% 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.section__menu h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  margin-bottom: 10px;
}
.section__menu h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.section__menu p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15.0431px;
  line-height: 18px;
}

footer {
  margin-top: 50px;
}

@media screen and (min-width: 1440px) {
  img {
    margin-bottom: -35px;
  }
  .header__title {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    padding: 0;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  }
  .header__title img {
    width: 25%;
    margin: 25px;
  }
  .section__menu {
    display: flex;
    border-radius: 5%;
    background: white;
    flex-direction: column;
    margin: 0 10% 5% 10%;
    padding: 0 10% 0 10%;
  }
  .section__menu .img {
    height: 555px;
    /* width: 25%; */
    object-fit: cover;
  }
  .section__menu .categorie {
    margin-bottom: 60px;
  }
  .section__menu .card {
    display: flex;
    flex-direction: row;
    background: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin: 10px;
  }
  .section__menu .card .card__text {
    width: 90%;
    margin: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .section__menu .card .card__text p {
    width: 100%;
    text-overflow: ellipsis;
    /* position: relative; */
    white-space: nowrap;
    overflow: hidden;
  }
  .section__menu .card .card__price {
    display: flex;
    width: 50px;
    flex-direction: column-reverse;
    /* justify-content: center; */
    /* align-items: center; */
    margin-bottom: 12px;
    font-weight: 600;
  }
  .section__menu .card .card__check {
    display: flex;
    width: 0%;
    max-width: 59px;
    background: #99E2D0;
    border-radius: 0px 15px 15px 0px;
    transition: width 1s ease-in-out;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }
  .section__menu .card .card__check i {
    display: flex;
    color: white;
  }
  .section__menu .card:hover .card__check {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .section__menu .card:hover .card__check i {
    display: flex;
    color: white;
  }
  .section__menu h1 {
    font-family: "Shrikhand";
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;
    margin: 5% 0 5% 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    position: relative;
  }
  .section__menu h1 i {
    margin-right: 50px;
  }
  .section__menu h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    border-bottom: 3px solid #99E2D0;
    width: 40px;
    margin: 10px;
  }
  .section__menu h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }
  .section__menu p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 15.0431px;
    line-height: 18px;
  }
  footer {
    margin-top: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
