.like {
    position: absolute;
    top: 50px;
    right: 20px;

    .fa-solid {
        z-index: 999;
        display: none;
        opacity: 0;
        background: linear-gradient(193.33deg, #9256dc -11.44%, #ff79da 123.93%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    &:hover {
    
        .fa-solid {
            display: block;
            opacity: 1;
        }
    
        .far {
            display: none;
            opacity: 0;
        }
    }
}
