.link__return {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 25px;
    left: 25px;
    z-index: 999;
    text-decoration: none;

    i {
        color: black;
    }
}