.link__return {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 38px;
    left: 38px;

    i {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;
        color: black;
    }
}